.btn {
    background-color: $mainBlue;
    color: #FFF;
    padding: .75rem 1.2rem;
    text-decoration: none;

    &--orange {
        background-color: $mainOrange;
    }
    &--small {
        @mixin atMedium {
            display:block;
        }   
    }
    &--large {
        padding: 0.75rem 1.1rem;

        @mixin atSmall {
            padding: 1.1rem 1.9rem;
            font-size: 1.25rem;
        }
    }
}