.page-section {
    padding: 1.2rem 0;

    @mixin atMedium {
        /*Adding 4.5rem to the top and bottom padding and 0 to the left and right padding*/
        padding: 4.5rem 0;
    }

    &--blue {
        background-color: $mainBlue;
    }

}